/* DESKTOP VIEW STYLES */
@media (min-width:1024px) {

    .nav-container {
        padding: 0 6rem;
        height: 60px;

    }

    .menu-icon {
        display: none;
    }

    .logo img {
        width: 8rem;
        margin-top: .8rem;
    }

    .buttons {
        right: 10%;
    }

    .btn span {
        display: inline-block;
        transform: skew(16deg);
    }

    .btn {
        width: 9rem;
        font-size: .9rem;
        font-weight: 500;
    }


    /* ////////////////// */


    #navbar {
        height: 60px;
        width: 100%;
        padding: 0 7.5rem;
    }

    nav ul li span {
        height: 60px;
        padding: 0 0 0 1.35rem;
        margin: 0 1.35rem 0 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    .search-bar {
        order: 1;
        width: 15rem;
        height: 2.25rem;
        margin-right: .8rem;
        margin-bottom: .5rem;
    }

    #searchInputBar {
        font-size: 1rem;
    }

    /* ////////////////// */

    .post-navbar {
        height: 85px;
        padding-left: 7.25rem;
    }

    .post-navbar h1 {
        font-weight: 500;
        font-size: 3rem;
    }

    .rebook-img img {
        width: 12rem;
    }

    .rebook-img {
        width: 30rem;
        height: inherit;
        padding: 0 .5rem 0.25rem 3rem;
        clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);

    }

    .rebook-img p {
        padding-left: 6rem;
        padding-top: 1rem;
        font-size: 12px;
    }

    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
    /* MAIN SECTION STARTED */


    .hero-content {
        justify-content: center;
        gap: 8rem;
    }

    .text-side {
        width: 35%;
    }

    .video-side {
        order: 2;
        width: 30%;
    }

    /* Show Arrows only on Desktop */
    .nav-btn {
        display: block !important;
    }

    /* Show Product Slider Arrows only on Desktop */
    .p-nav-btn {
        display: block;
    }

    /* ////////////////// */

    main {
        background-image: url(Slicing/pattern-bg.png);

    }

    .area-slider {
        margin: 1rem 1rem 0 0;
    }


    .grid-wrapper {
        margin: 0 9rem;
        gap: 30px;
    }

    .p-slide {
        min-width: 23%;
    }


    .triple-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        height: auto;
    }


    /* ////////////////// */


    .spec-card {
        height: 12rem;
        width: 100%;
        background-color: #2e844b;
        background-image: url(Slicing/pattern-bg.png);
        display: flex;
        flex-direction: column;
    }


    .area-special img {
        width: 63%;
        height: 100%;
        object-fit: cover;
    }

     .area-special .s1 img {
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    }

    .area-special .s2 img{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    }









}